body{
    background-image:url("../images/background.jpg");
    background-position:auto;
    background-size:cover;
    background-repeat:no-repeat;
    background-color:black;
}

.card{
    margin-left:1%;
    margin-right:1%;
    margin-top:20px;
    border:solid black 20px;
    font-family: 'Space Mono', monospace;
}

.card-body{
    text-align:center;
}

.answer{
    font-size: 24px;
}

button{
    margin:5px;
}

#timer{
    border-top: solid black 2px;
    padding-top:10px;
}

img{
    max-width: 100%;
    height:auto;
}
